# Backend Configuration
PORT=3000
NODE_ENV=development

# Database Connection String
# Local Docker PostgreSQL:
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/web_desa_db?schema=public"

# Supabase Production PostgreSQL Example:
# DATABASE_URL="postgresql://postgres.xxx:your-password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
