@import "tailwindcss";

:root {
  --background: #f9f9ff;
  --foreground: #151c27;
  --primary: #006948;
  --primary-container: #00855d;
  --secondary: #575e70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-brand: #006948;
  --font-sans: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
